* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

@keyframes animation-one {
   0% {
      top: 20%;
   }

   20% {
      top: 10%;
   }

   50% {
      top: 20%;
   }

   80% {
      top: 10%;
   }

   100% {
      top: 20%;
   }
}

@keyframes animation-two {
   0% {
      width: 520px;
      height: auto;
   }
   100% {
      width: 520px;
      height: auto;
   }
}

h2 {
   font-size: 30px;
   margin-bottom: 20px;
}

p {
   font-size: 14px;
}

.container {
   width: 900px;

   display: flex;
   justify-content: space-between;
}

/* ==== HEADER ==== */

header {
   display: flex;
   justify-content: center;

   height: 80px;

   border-bottom: 2px solid red;
}

header img {
   width: 200px;

   object-fit: cover;
}

.logo {
   display: flex;
   align-items: center;
}

/* ==== NAV ==== */

.menu {
   display: flex;
   align-items: center;
}

.menu ul {
   display: flex;
   list-style: none;
}

.menu a {
   text-decoration: none;
   text-transform: uppercase;
   color: black;

   padding: 10px;
}

.menu ul li a:hover {
   background-color: red;
   color: #ffffff;
}

/* ==== home ==== */

#home {
   display: flex;
   justify-content: center;
   align-items: center;

   background: linear-gradient(yellow, red);

   border-bottom: 2px solid red;

   color: #ffffff;

   height: 500px;
}

#home .right img {
   width: 350px;
   margin-bottom: 20px;
}

#home .left {
   width: 400px;
   margin-left: 20px;
}

#home h1 {
   font-size: 40px;

   margin-bottom: 5px;
}

#home .left p {
   width: 300px;
}

#home img {
   position: relative;
   margin: 0;
   animation-name: animation-one;
   animation-duration: 5s;
   animation-delay: 0.5s;
   animation-iteration-count: infinite;
}

/* ==== details ==== */

.description {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;

   margin-bottom: 50px;
   margin-top: 50px;
}

#details {
   display: flex;
   justify-content: center;
}

#details .container {
   flex-direction: column;
}

/* ==== procut ==== */

.product {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#details .left img {
   width: 450px;
   height: auto;
}

.right {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

#details .right a {
   display: flex;

   align-items: center;

   padding: 20px;

   text-align: left;
   text-transform: uppercase;
   text-decoration: none;

   gap: 10px;

   color: red;

   border-left: 1px solid red;

   margin-bottom: 5px;
}

#details .right a:hover {
   background-color: yellow;
   color: red;
}

#details .left img:hover {
   animation-name: animation-two;
   animation-duration: 5s;
}

/* ==== about ==== */

#about {
   display: flex;
   justify-content: center;
   background-color: red;
}

#about .container {
   flex-direction: column;
}

.spcft h2 {
   font-size: 16px;
}

.spcft p {
   font-size: 10px;
}

.right {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.right a {
   display: flex;

   align-items: center;

   padding: 20px;

   text-align: left;
   text-transform: uppercase;
   text-decoration: none;

   gap: 10px;

   color: black;

   margin-bottom: 5px;
}

#resources {
   display: flex;
   justify-content: center;
   background-color: yellow;
}

#resources .container {
   flex-direction: column;
}

/* === price === */

#price {
   display: flex;
   justify-content: center;
}

#price .container {
   flex-direction: column;
}

.prices {
   display: flex;
   justify-content: space-around;
   text-align: center;
}

.price-card {
   border: 1px solid red;
   border-radius: 5px;

   margin: 5px;
}

.prices img {
   width: 280px;
}

.price-product {
   display: flex;
   justify-content: center;

   text-align: center;

   gap: 5px;

   padding: 5px;
}

.price-real {
   text-decoration: line-through;
   padding: 10px;
}

.price-discount {
   padding: 5px;
}

.prices button {
   padding: 10px;
   width: 80px;
   margin-bottom: 10px;

   background-color: red;
   border: none;
   border-radius: 5px;

   color: #ffffff;

   cursor: pointer;
}

.prices button:hover {
   background-color: yellow;
   color: red;
}

/* === footer ===  */

footer {
   display: flex;
   justify-content: center;
}

footer .container {
   display: flex;
   justify-content: center;
   align-items: center;

   height: 50px;

   background-color: red;

   color: #ffffff;
}

::-webkit-scrollbar {
   background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
   background-color: red;
}
